---
import BaseHead from "../components/BaseHead.astro";
import HeaderLink from "../components/HeaderLink.astro";

const { title, description } = Astro.props;
---

<html lang="en" data-theme="dracula">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div class="p-4">
      <nav
        class="navbar box-border bg-base-200 rounded-md flex justify-between"
      >
        <HeaderLink class="btn btn-ghost normal-case text-xl" href="/">
          blog.kbar.io
        </HeaderLink>
        <div class="flex gap-2">
          {
            ["drumming", "fitness", "books", "programming"].map((x) => (
              <HeaderLink
                class="btn btn-ghost normal-case text-lg"
                href={`/${x.toLowerCase()}`}
              >
                {x}
              </HeaderLink>
            ))
          }
        </div>
      </nav>
    </div>
  </body>
</html>
